# Python
__pycache__/
*.pyc

# Backend
backend/venv/
backend/data/
backend/vector_db/
backend/chat.db

# Frontend
frontend/node_modules/
frontend/.next/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
chat.db